.checkout-box {
color:black;
justify-content: center;

}

fieldset {
    border: 1px solid #ccc;
    background-color: beige;
    padding: 20px;
    margin-bottom: 20px;
  }

legend {
  background-color: pink;
  padding: 10px;
  display: inline-block;
}